{% extends 'mainIndex.html' %}
{% block content %}
<head><title>{% block title %}추가{% endblock %}</title></head>
phone book add(추가) 페이지 입니다.
<form method="POST">
{% csrf_token %}
<div>
    <label>이름 : </label>
    <input type="text" placeholder="이름 입력" name="name">
</div>
<div>
    <label>전화번호 : </label>
    <input type="text" placeholder="전화번호 입력" name="phNum">
</div>
<div>
    <label>이메일 : </label>
    <input type="email" placeholder="이메일 입력" name="email">
</div>
<div>
    <label>주소 : </label>
    <input type="text" placeholder="주소 입력" name="addr">
</div>
<div>
    <label>생년월일 : </label>
    <input type="date" placeholder="생년월일 입력" name="birth">
</div>
<div>
    <input type="hidden" value="{{user}}" name="author">
</div>
<div>
    <input type="submit" value="확인">
</div>
</form>
{% endblock %}